input,
textarea,
select{

    width:100%;

    background:#18181B;

    color:white;

    border:1px solid #2F2F35;

    border-radius:12px;

    padding:14px;

    margin-top:12px;

    margin-bottom:18px;

}

input:focus,
textarea:focus,
select:focus{

    outline:none;

    border-color:#8B5CF6;

}