*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Inter,Segoe UI,sans-serif;
}

body{

    background:#09090B;

    color:#FAFAFA;

}

a{

    text-decoration:none;

    color:inherit;

}

button{

    cursor:pointer;

    font-family:inherit;

}

input,
textarea,
select{

    font-family:inherit;

}